@model IEnumerable<MeinLiX.Player>

@{
    ViewData["Title"] = "Player";
}

<h1>@ViewBag.subdivisionNAME player list</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.subdivisionID">Create New Player</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerNickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerJoin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSubdivisionNavigation)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.PlayerName != null)
                    {
                        @Html.DisplayFor(modelItem => item.PlayerName)
                    }
                    else
                    {
                        @Html.Raw("Empty")
                    }
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerNickname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerJoin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerBirth)
                </td>
                <td>
                    @if (item.IdSubdivisionNavigation != null)
                    {
                        @Html.DisplayFor(modelItem => item.IdSubdivisionNavigation.SubdivisionName)
                    }
                    else
                    {
                        @Html.Raw("Free Agent")
                    }
                </td>
                <td>
                    <a asp-action="Sponsorship" asp-route-id="@item.IdPlayer">Sponsorship</a>
                    <a asp-action="Edit" asp-route-id="@item.IdPlayer">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.IdPlayer">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.IdPlayer">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
